body {
}
body table {
	width: 70%;
	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-collapse: collapse;
}
.th_ob{
	width: 5%;
	}
.th_oa{
	width: 25%;
	}
.th_oc{
	width: 10%;
	}
body table caption {
	font-weight: bolder;
	font-size: 1em;
	margin-bottom: 12px;
	height: auto;
}
table thead tr {
	height: 2em;
	background-color: rgba(171,249,224,1.00);
	border-right-color: rgba(255,255,255,1.00);
	border-right-style: dotted;
}
thead tr th {
	margin-bottom: 12px;
}
table tbody tr:nth-child(even) {
	background-color: rgba(124,212,239,1.00);
}
table tr{
	border: 2px solid rgba(225,19,22,1.00);
	
	}
tbody tr td {
}
table tfoot tr {
	height: 4em;
	background-color: rgba(249,234,168,1.00);
}
tfoot tr td {
}
